<suite name = "Test Suite">
<!--    <test name = "Test on Safari">-->
<!--        <parameter name ="browser" value = "Safari"/>-->
<!--        <classes>-->
<!--&lt;!&ndash;        <class name="scripts.demo2"/>&ndash;&gt;-->
<!--         <class name="scripts.cimemaBooking"/>-->
<!--&lt;!&ndash;            <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                <include name ="verifylogin"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </methods>&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
    <test name = "Test on Chrome">
        <parameter name ="browser" value = "Chrome"/>
        <classes>
           <class name="scripts.cimemaBooking"/>-->
            <!--            <methods>-->
            <!--                <include name ="verifylogin"/>-->
            <!--            </methods>-->
        </classes>
    </test>
</suite>